<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huc.dao.MajorMapper">
  <resultMap id="BaseResultMap" type="com.huc.bean.Major">
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="major_name" jdbcType="VARCHAR" property="majorName" />
    <result column="major_course" jdbcType="VARCHAR" property="majorCourse" />
    <result column="academy_id" jdbcType="INTEGER" property="academyId" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="VARCHAR" property="reserved3" />
    <result column="reserved4" jdbcType="VARCHAR" property="reserved4" />
  </resultMap>
  <insert id="insert" parameterType="com.huc.bean.Major">
    insert into tb_major (major_id, major_name, major_course, 
      academy_id, reserved1, reserved2, 
      reserved3, reserved4)
    values (#{majorId,jdbcType=INTEGER}, #{majorName,jdbcType=VARCHAR}, #{majorCourse,jdbcType=VARCHAR}, 
      #{academyId,jdbcType=INTEGER}, #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, 
      #{reserved3,jdbcType=VARCHAR}, #{reserved4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huc.bean.Major">
    insert into tb_major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="majorId != null">
        major_id,
      </if>
      <if test="majorName != null">
        major_name,
      </if>
      <if test="majorCourse != null">
        major_course,
      </if>
      <if test="academyId != null">
        academy_id,
      </if>
      <if test="reserved1 != null">
        reserved1,
      </if>
      <if test="reserved2 != null">
        reserved2,
      </if>
      <if test="reserved3 != null">
        reserved3,
      </if>
      <if test="reserved4 != null">
        reserved4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="majorId != null">
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="majorName != null">
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="majorCourse != null">
        #{majorCourse,jdbcType=VARCHAR},
      </if>
      <if test="academyId != null">
        #{academyId,jdbcType=INTEGER},
      </if>
      <if test="reserved1 != null">
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        #{reserved4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="queryMajorByName" resultMap="BaseResultMap">
        select major_course from tb_major where major_name = #{majorName};
    </select>
    <select id="queryMajorByAcademy" resultMap="BaseResultMap">
        select major_name from tb_major where academy_id = #{academyId}
    </select>
</mapper>